
.navbar-wrapper {
  width: 100%;
  background-color: var(--smoke-signal); /* Dark Background */
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 10px 0;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.logo {
  font-size: 1.8rem;
  font-weight: 800;
  color: var(--pale-ivory); /* Light Text */
  letter-spacing: -1px;
}

.accent-dot {
  color: var(--hover-dark);
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 35px;
}

.nav-links a {
  text-decoration: none;
  color: var(--pale-ivory);
  font-weight: 500;
  opacity: 0.9;
  transition: 0.3s;
}

.nav-links a:hover {
  color: var(--hover-dark);
  opacity: 1;
}

.btn-hire {
  background-color: var(--hover-dark);
  color: white;
  text-decoration: none;
  padding: 12px 28px;
  border-radius: 30px;
  font-weight: 600;
  transition: 0.3s;
}