* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --pale-ivory: #F8F5E2;
  --smoke-signal: #292528;
  --text-light: #F8F5E2;
  --text-dark: #292528;
  --hover-dark: #FF4D6D;
}
.container {
  max-width: 1200px; /* This creates the consistent side gap */
  margin: 0 auto;    /* This centers the content on the screen */
  padding: 0 40px;   /* Safety gap for smaller screens */
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  /* font-family: 'Inter', sans-serif; */
}

html{
  scroll-behavior: smooth;
}

.vertical-socials {
  position: fixed;
  left: 30px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  z-index: 10;
}

.vertical-socials a {
  writing-mode: vertical-rl; /* Rotates the text */
  text-decoration: none;
  color: var(--smoke-signal);
  font-size: 0.8rem;
  opacity: 0.6;
  transition: 0.3s;
}

.vertical-socials .line {
  width: 1px;
  height: 100px;
  background-color: var(--smoke-signal);
  opacity: 0.2;
}